.cs-container { 
	display: grid;
	grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
	margin: 30px;
	grid-auto-flow: auto;
 }

.cs-title { 
  grid-column: 2 / 6;
}

.cs-header {
	grid-column: 1;
	text-align: right;
	margin-right: 30px;
}

.cs-body {
	grid-column: 2/6;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
}

.cs-banner-image { 
  grid-column: 1 / 7;
}

/* 
-------------------------------------------------- */

.cs-container h1 { 
	font-family: 'Cormorant', serif;
	font-size: 2.6em;
	text-align: center;
	font-weight:  300;
	line-height: 1.3em;
	margin: 0px;
 }

.cs-title h1 { 
	margin-bottom: 15px;
}

.cs-container h2 { 
	font-family: 'Work Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 300;
	text-align: center;
}

.cs-container h3 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	margin-bottom: 10px;
}

.cs-container p, li { 
	font-family: 'Cormorant', serif;
	font-size: 1.3em;
	line-height: 1.3em;
} 

.cs-list li { 
	margin-bottom: 20px;
}


.bullet { 
	list-style: disc;
	padding: 10px 0px 20px 40px;
}

.cs-container h4 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	font-size: .7em;
	letter-spacing: 1.1px;
	margin: 0px;
	margin-top: 10px;
}

.cs-container h5 { 
	font-family: 'Work Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 500;
	color:  slateblue;
	margin:  25px 0 10px 0;
}

.cs-container span { 
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: .8em;
}

.cs-banner-image { 
 	background-image: url(../img/profile-pic-2.png);
 	padding-top: 39.34%;
	background-size: cover;
	background-repeat: no-repeat;
  background-position: center bottom;
}

.cs-image-sm { 
  grid-column: 2 / 6;
 	background-image: url(../img/profile-pic-2.png);
 	padding-top: 37.50%;
	background-size: cover;
	background-repeat: no-repeat;
  background-position: center bottom;
}

.cs-banner-image-lg { 
  grid-column: 1 / 7;
	background-size: cover;
	background-repeat: no-repeat;
  background-position: center bottom;
}

.link-email { 
	text-decoration: underline;
	font-weight: 500;
	color: slateblue;
 }

 .link-email:hover { 
 		color: #F0C8FF;
  }

 .contact { 
	font-family: 'Work Sans', sans-serif;
	font-size: .9em;
	font-weight: 400;
  background-color: #F0C8FF;
  border: none;
  color: black;
  margin-top: 14px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
}

.process-container { 
	grid-column: 2 / 5;
	grid-gap: 30px;
	display:  flex;
 }

 .process h3 { 
	margin-bottom: -5px;
 }

.list-process { 
	margin-right: 50px;
}

.list-process ul { 
	list-style-type: disc;
	padding-left: 18px;
 }

.list-process li { 
	padding-bottom: 6px;
}

 .p-case { 
	font-family: 'Work Sans', sans-serif;
	font-size: .7em;
	font-weight: 400;
  background-color: #F0C8FF;
  border: none;
  color: black;
  margin-top: 10px;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
}

 /* 
}
----------------------Storefronts---------------------------- */

 .storefronts-banner { 
	background-image: url(../img/storefronts-banner.jpg);
 }

 .storefront-ur { 
	background-image: url(../img/screenshots-1.png);
 }

 .storefront-pm { 
	background-image: url(../img/product-management-screenshot.png);
  }

 .storefront-wf { 
	background-image: url(../img/storefront-wireframe.png);
	padding-top:  24.56%;
 }

 .storefront-components { 
	background-image: url(../img/storefront-components-1.png);
	padding-top:  33.33%;
 }


 /* 
}
------------------------Buyer-------------------------- */

.buyer-banner { 
	background-image: url(../img/buyer-banner-1.png);
 }

 .buyer-journey { 
	background-image: url(../img/buyer-journey.jpg);
	padding-top:  44.44%;
 }

 /* 
}
-----------------------Helix------------------------ */

.helix-banner { 
	background-image: url(../img/helix-frontpage.png);
 }

 .helix-flow { 
	background-image: url(../img/helix-user-flow.png);
	padding-top:  56.25%;
 }

 .helix-pre-launch { 
	background-image: url(../img/helix-pre-launch.jpg);
	padding-top:  13.04%;
 }


 .cs-banner-video { 
  grid-column: 1 / 7;

  }

 .helix-video { 
  width:  100%;
  height:  auto;
 }



 /* 
}
-----------------------Arivale------------------------ */

.arivale-banner { 
	background-image: url(../img/arivale-banner.png);
 }

 .arivale-flow { 
	background-image: url(../img/Arivale-redesign-flow.png);
	padding-top:  24.11%;
 }

 /* 
}
-----------------------Arivale------------------------ */


 .helix-mockups-mb { 
	background-image: url(../img/helix-states.jpg);
	height:  500px;
/*	background-size: contain;
	background-position: center;*/
 }


 .helix-banner { 
	background-image: url(../img/helix-frontpage.jpg);
	height:  480px;
 }


 .helix-post-launch { 
	background-image: url(../img/helix-post-launch.jpg);
	height:  153px;
 }


 /* 
}
-------------------------------------------------- */


@media (max-width: 1080px) {
	.cs-body {
		margin: 0px;
	}
}

@media (max-width: 1080px) {
	.cs-title { 
		grid-column: 1/7;
		margin: 0;
	 }
}

@media (max-width: 800px) { 
	.process-container { 
		flex-wrap: wrap;
		grid-gap: 0;
	 }

}



@media (max-width: 600px) {
	.cs-title { 
		grid-column: 1/7;
		margin: 0;
	 }
	.cs-body {
		grid-column: 1/7;
		margin-right: 0;
	}
	#cs-list { 
		text-align: center;
	 }
	#cs-list li { 
		margin-right: 0px;
	}
	.cs-image-sm { 
		grid-column: 1/7;
	}

}

@media (max-width: 425px) {
	.cs-container {
		grid-gap: 15px;
		margin: 12px;
	}
}



 /* 
}
-------------------------------------------------- */

